* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
    text-align: left;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 30px;
    width: 100%;
    margin-left: 0;
  }

  .info2 {
    font-size: 25px;
    width: 100%;
  }

  .skillbars h3 {
    font-size: 20px;
  }

  .skill-box p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .col-1 h1,
  .col-1 h2 {
    font-size: 120px;
  }

  h3 {
    font-size: 40px;
  }

  .info2 {
    font-size: 30px;
  }

  .skillbars h3 {
    font-size: 25px;
  }

  .skill-box p {
    font-size: 20px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
}

body {
  background-color: rgba(245, 99, 52, 255);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
  float: left;
  padding: 15px;
}

.col-1 h1,
.col-1 h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 17, 255, 0);
  font-size: 900%;
  background-image: url("Web_Photo_Editor.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  text-align: left;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(50, 59, 99);
  width: 60%;
  font-size: 350%;
  font-weight: 800;
  position: flex;
  margin-left: 5%;
  margin-top: -10%;
}

.container {
  width: 600px;
  display: block;
  justify-content: center;
  position: flex;
  max-width: 100%;
}

.swiper {
  width: 100%;
  height: fit-content;
  position: flex;
}

.swiper-slide {
  object-fit: contain;
  position: flex;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #ffffff;
  position: flex;
}

.swiper .swiper-pagination-bullet-active {
  background: #ffffff;
  position: flex;
}

.container img {
  width: 100%;
  height: 100%;
  position: flex;
}

.home img {
  width: 8%;
  height: 8%;
  position: flex;
}

.info2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(50, 59, 99);
  width: 800px;
  font-size: 40px;
  position: flex;
  float: right;
  margin: 20px 20px 20px ;
  font-weight: 450;
}

.skill-box {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
}

/* Style for skill names */
.skill-box p {
  margin: 0;
  font-weight: bold;
  color: rgb(50, 59, 99);
  margin: auto;
}

/* Style for skill bars container */
.skill {
  width: 35%;
  height: 15px; /* Reduced height */
  background-color: transparent; /* Set transparent background */
  border: 2px solid rgb(50, 59, 99); /* Add border to the skill bar */
  border-radius: 5px; /* Add rounded corners to the skill bar */
  overflow: hidden; /* Hide overflowing content within the skill bar container */
}

/* Style for skill levels */
.skill-level {
  height: 100%;
  width: 0; /* Initial width of the skill bar, it will be adjusted by the inline style */
  background-color: rgb(50, 59, 99); /* Set the color of the filled portion of the skill bar */
  border-radius: 5px; /* Add rounded corners to the filled portion of the skill bar */
  transition: width 0.5s ease-in-out; /* Add a smooth transition effect for the width change */
}
