*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    } 
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
          width: 100%;
        }
      }
       .flex-container {
        display: flex;
        flex-direction: row;
      }
      
body{
  
    background-color: rgba(245,99,52,255);
    }
    .home img {
      width: 8%;
      height: 8%;
      position: flex;
  } 
.proffskills {
  transform: translateY(-100px);
}
  .proffskills h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 17, 255, 0);
  font-size: 150px;
  background-image: url("Web_Photo_Editor.jpg");
  background-size: 40%;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}
.proffskills h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 17, 255, 0);
  font-size: 150px;
  background-image: url("Web_Photo_Editor.jpg");
  background-size: 40%;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}
/*) Future Orientated Organisation (*/
.futuretext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  display: flex;
  justify-content: center;
  background-image: url(Web_Photo_Editor.jpg);
  height: 700px;
  width: 1400px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;  
}
.ftext1 {
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 610px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  font-size: 20px;

}
.ftext2 h3 {
  font-size: 22px;
  text-decoration: underline;
}
.ftext2 {
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 610px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 150px;
  font-size: 20px;
  
}
.ftext3 {
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 610px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  font-size: 20px;
}
.futoriorg {
    height: 700px;
    width: 1400px;
    background-image: url("Web_Photo_Editor.jpg");
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: translateY(100px);

}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #253566;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #262242;

}
    :root {
        --scrollcolor: #fff;
        --scrollbackground: #141e27;
      }
      
      * {
        box-sizing: border-box;
      }
      
      html,
      body {
        padding: 0;
        margin: 0;
      }
    
      .planslider {
        margin-left: auto;
        margin-right: auto;
        transform: translate(0px,100px);
      }
      
      .slider {
        width: 2000px;
        max-width: 1280px;
        margin: 0 auto;
      }
      
      .slider__content {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        display: flex;
        gap: 1rem;
        padding-bottom: 1rem;
        scrollbar-color: var(--scrollcolor) var(--scrollbackground);
      
        &::-webkit-scrollbar {
          height: 0.5rem;
          width: 0.5rem;
          border-radius: 1rem;
          background: var(--scrollbackground);
        }
      
        &::-webkit-scrollbar-thumb {
          border-radius: 1rem;
          background: var(--scrollcolor);
        }
      
        &::-webkit-scrollbar-track {
          border-radius: 1rem;
          background: var(--scrollbackground);
        }
      }
      
      .slider__item {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 100%;
        width: 100%;
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
        aspect-ratio: 1;
      
        @media (min-width: 460px) {
          aspect-ratio: 2/3;
          min-width: calc((100% / 2) - 2rem);
        }
      
        @media (min-width: 940px) {
          min-width: calc((100% / 3) - 4rem);
        }
      }
      
      .slider__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        top: 0;
        left: 0;
      }
      
      .slider__nav {
        margin: 1rem 0 4rem;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-content: center;
        align-items: center;
        pointer-events: none;
      
        @media (min-width: 460px) {
          justify-content: flex-end;
        }
      }
    
.perleatext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  display: flex;
  justify-content: center;
  background-image: url(Web_Photo_Editor.jpg);
  height: 700px;
  width: 1400px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transform: translateY(150px);
  } 

  .ptext1 {
    background-color: rgb(255, 255, 255);
  width: 380px;
  height: 610px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 60px;
  font-size: 20px;
  }

.ptext2 {
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 610px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  font-size: 20px;
}

.ptext3 {
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 610px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  font-size: 20px;
}


h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff680a;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(20px);
    transform: translateY(40px);
}

.invprosol {
  height: 700px;
  width: 1400px;
  background-image: url("Web_Photo_Editor.jpg");
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
    transform: translateY(1600px);
}

.invprosoltext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff680a;
    transform: translateY(60px);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 27px;
    
}

.tarint {
  height: 700px;
  width: 1400px;
  background-image: url("Web_Photo_Editor.jpg");
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transform: translateY(2000px);
   
}
.tarinttext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff680a;
    transform: translateY(60px);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 27px;
    }

  .learningoutcomes h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(32,52,103,255);
    position:absolute;
    transform: translate(60px,80px);
    font-size: 70px;
    position: flex;
    
}
.proffskills h2 {
    font-size: 150px;
    position: flex;
}