* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(50, 59, 99);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #F56334;
  text-transform: lowercase;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

body {
  background-color: rgba(245, 99, 52, 255);
}

/* Project Page */
#projectpage {
  background-image: url(Web_Photo_Editor.jpg);
}

h1, .pizzaproject h2 {
  color: rgba(32, 52, 103, 255);
  text-shadow: 0 0 10px #F56334, 0 0 10px #F56334, 0 0 15px #F56334;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-weight: 900;
}

.pizzaproject h2, .houseproject h2 {
  font-size: 40px;
  margin-left: 15px;
  margin-top: 2%;
}

.pizzaproject, .houseproject {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(32, 52, 103, 255);
  box-shadow: 0 0 15px rgba(32, 52, 103, 255);
  border-radius: 25px;
  margin-top: 5%;
}

.pizzaproject p, .houseproject p {
  color: #fff;
  font-size: 25px;
  padding: 10%;
}

.pic1 img, .pic2 img {
  width: 40%;
  margin-left: 30%;
  margin-top: 20px;
}

.slider {
  width: 2000px;
  max-width: 1280px;
  margin: 0 auto;
}

.slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}

.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}

.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}

@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 2/3;
    min-width: calc((100% / 2) - 2rem);
  }

  .slider__nav {
    justify-content: flex-end;
  }
}

@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
  }
}
