body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA
}
#learning-background {
  background-color: #BADA55;
}
#learning-background1 {
  background: linear-gradient(to bottom, #BADA55 60%, #FAFAFA 60%);
}
#learning-background3 {
  background: linear-gradient(to bottom, #BADA55 28%, #FAFAFA 28%);
}

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

p {
  text-align: justify;
  margin-right: 20px;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  background-color: #fafafa39;
  
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px; 
  background-color: #FAFAFA; 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 
}

.sidebar a {
  display: block;
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
}

.sidebar a:hover {
  color: #BADA55;
}

.sidebar img {
  width: 80%; 
  margin-bottom: 20px; 
}

.sidetext {
  margin-top: 30%;
}
.sidetext p {
  text-align: left;
}

.content {
  margin-left: 200px; 
  padding: 20px;
}

.banner {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
}

.banner p {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  text-transform: uppercase;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

nav a:hover {
  color: #BADA55;
}



.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title img {
  max-width: 100%;
  height: auto;
  
}

/* slideshow container */
.slideshow-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* navigation arrows */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  text-decoration: none;
  
}
.prev:hover, .next:hover {
  color: #BADA55;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Images */
.slideshow-images img {
  width: 100%;
  display: none;
}


@media screen and (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .content {
      margin-left: 0;
      padding: 20px;
  }
}

.text {
  margin-left: 200px; 
  padding: 20px;
}

.text h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 0; 
}

.container {
  display: flex;
  flex-direction: row;
}


.survey-heading {
  display: inline-block;
  margin-right: 20px; 
}

.survey-heading:hover {
  color: white    ;
}

.LO-container {
  display: flex;
  padding-top: 300px;
  gap: 15px;
}

.image-container img{
  max-width: 65%;
}

figure {
  text-align: center;
}

.box-link {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  flex: 1;
}

.box-link:visited {
  color: #000000;
}
.LO-box {
  background-color: #fafafaa7;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  margin: 10px;
}
.LO-box img {
  margin-left: 100px;
}
.box {
  width: 230px;
  height: 230px;
  background-color: #BADA55;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textbox {
  width: 400px;
  height: 300px;
  background-color: #BADA55;
  display: flex;
  padding: 30px;
  margin-right: 100px;
  align-items: center;
}

.box:hover {
  background-color: #bbda5590;
}

.LO-container h2{
  text-align: center;
  margin-top: 100px;

}
.iframe-container {
  text-align: center;
}
ul {
  list-style-type: circle;
}

.code-ss img {
  max-width: 50%;
  align-items: center;
}

b {
  font-weight: 600;
}

.icon-container {
  display: flex;
  gap: 20px; 
}
.icon-container a {
  font-size: 8rem; 
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
.icon-container a:hover {
  color: #000;
}